@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #303030;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
}

.midi-player {
  width: 100%;
}

midi-player::part(control-panel) {
  background: #303030;
  padding: 5px 10px;
}

midi-visualizer {
  margin: 4px;
  background: #fff;
  padding: 10px 5px;
  overflow: auto;
}
